.details{
    height: 75vh;
    width: 80vw;
    background-color: #222831;
    border: 2px solid #00ADB5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FF4C29;
}
.up{
    height: 54vh;
    width: 80vw;
    display: grid;
    grid-template-rows: calc(53vh/2) calc(53vh/2);
    grid-template-columns: calc(78vw/3) calc(2*(78vw/3));
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.down{
    height: 19vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 18vh;
    grid-template-columns: calc(78vw/2) calc(78vw/2);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.details img{
    grid-row: 1/ span 2;
    grid-column: 1;
    height: 100%;
    width: auto;
    object-fit: cover;
    border: 2px solid #00ADB5;
    border-radius: 10px;
}
.details .name{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    font-size: 30px;
    text-align: center;
    border: 2px solid #00ADB5;
    border-radius: 10px;
}
.details .genres{
    grid-row: 2;
    grid-column: 2;
    font-size: 20px;
    border: 2px solid #00ADB5;
    border-radius: 10px;
}
.genres h2{
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.genres ul{
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, calc((2*(78vw/3) - 1vw)/5));
    gap: calc(1vh/2) calc(2vw/6);
    list-style: none;
    font-size: 20px;
    color: aliceblue;
}
.genres li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.status{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00ADB5;
    border-radius: 10px;
}
.status p{
    height: 8vh;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status form{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.down button{
    height: 50%;
    width: 60%;
    border-radius: 20px;
    color: aliceblue;
    background-color: #00ADB5;
    transition: background-color 300ms ease, transform 300ms ease;
}
.down button:hover{
    background-color: #FF4C29;
    transform: scale(1.05);
    cursor: pointer;
}